header {
  height: 200px;
  width: 100%;
  background-image: url("../assets/img/library.jpg");
  @include bgImgSettings();
  h1 {
    text-align: center;
    color: #f5f5f5;
    font-family: "Cinzel Decorative", cursive;
    font-size: 3rem;
  }
  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    background-color: rgba(0, 0, 0, 0.6);
    .icon-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      &-bar {
        background-color: white;
        width: 30px;
        height: 4px;
        border-radius: 15px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 30px;
          height: 4px;
          border-radius: 15px;
          background: white;
          top: -0.5em;
        }
        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 30px;
          height: 4px;
          border-radius: 15px;
          background: white;
          top: 0.5em;
        }
      }
    }
    .main-nav {
      width: 100%;
      font-family: "Courier New", Courier, monospace;
      font-weight: bolder;
      .menu {
        padding-left: 1rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
        list-style: none;
        align-items: center;
        transform: translateX(-125%);
        transition: transform 0.5s;
        &-show {
          transform: translateX(0);
        }
        .menu-item {
          text-align: center;
          position: relative;
          display: inline-block;
          overflow: hidden;
          font-size: 1.3rem;
        }
        .menu-item::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background-color: #fff;
          transform: translatex(-100%);
          transition: transform 0.3s;
        }
        .menu-item:hover::after {
          transform: translatex(0);
        }
        .cart {
          cursor: pointer;
        }
      }
    }
  }
  .cart-buy {
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
    color: white;
    background-color: black;
    outline: 1px solid white;
    outline-offset: -10px;
    width: 50%;
    padding: 1rem;
    transform: translateX(200%);
    transition: transform 0.5s;
    &-show {
      transform: translateX(100%);
    }
  }
  .list-products {
    list-style-type: decimal;
  }
}
